body {
  font: 20px sans-serif;
  margin: 20px;
}

.tama-list-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.tama-select {
  width: 152px;
  height: 120px;
  margin: 8px;
  padding: 8px;
}

.tama-select:hover {
  cursor: pointer;
  background-color: #c4e1ff;
}

.tama-select.selected {
  background-color: #c4e1ff;
}

.tama-select input {
  display: none;
}

.tama-image {
  display: block;
  margin: auto;
}

.tama-name {
  margin: 0;
}
