@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 20px;
}

h1 {
  font-size: 36px;
  margin-bottom: 16px;
}

button {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}

button:hover {
  @apply bg-blue-700;
}

button:disabled {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded opacity-50 cursor-not-allowed;
}

button.reset-btn {
  margin-right: 8px;
}

.tama-list-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.tama-select {
  @apply max-w-sm rounded overflow-hidden border-r border-t border-b border-l border-gray-400;
  width: 212px;
  margin: 8px;
}

.tama-select:hover {
  @apply bg-gray-100;
  cursor: pointer;
}

.tama-select.selected {
  @apply bg-gray-200;
}

.tama-select-text-contents {
  @apply px-6 pt-4;
}

.tama-image-container {
  @apply w-full;
  height: 100px;
  position: relative;
}

.tama-image {
  margin: auto;
  max-height: 96px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.tama-name {
  @apply font-bold text-xl;
}

.tama-select-tags {
  @apply px-6 py-4;
}

.tama-select-tag {
  @apply inline-block rounded-full px-3 py-1 text-sm font-semibold text-gray-700;
}

.tama-select-tag--F {
  @apply bg-pink-200 border-r border-l border-b border-t border-pink-300;
  @apply mr-2;
}

.tama-select-tag--M {
  @apply bg-blue-200 border-r border-l border-b border-t border-blue-300;
  @apply mr-2;
}

.tama-select-tag--location {
  @apply bg-green-200 border-r border-l border-b border-t border-green-300;
}
